@import 'src/styles/common';

.modal {
  display: flex;
  flex-direction: column;
  background: $white;
  border: 1px solid get-color($bg, 200);
  border-radius: 30px;
  position: absolute;
  z-index: 20;
  box-sizing: border-box;
  width: 100%;
  margin: 5rem;
  max-height: calc(100vh - 3rem);
  max-width: Min(calc(100vw - 6rem), 47rem) ;
  padding: 2rem;

  &__close-icon {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
  }

  &__body {
    overflow-y: auto;
    height: 35rem;
    transition: 3s all ease-in-out;
    display: flex;
  }

  @include respond(tablet) {
    max-width: 50rem;
    padding: 3.5rem;
  }
}

.modal-wrapper {
  @include flex-center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
