@import 'src/styles/common';

.product-modal {
  gap: 1rem;
  padding-top: 5rem;

  .text {
    @include line-clamp(1);
  }

  &__discount {
    color: get-color($error, 500)
  }

  &__image {
    width: 100%;
    height: 25rem;
  }

  &__button {
    margin-top: 2rem;
  }
}
