@import 'src/styles/common';

.products {
  @include flex-center;
  min-height: 50rem;

  .grid {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 3rem auto 5rem;

    @include respond(big-desktop) {
      width: 80%;
    }
  }

  .spinner {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
